@charset "utf-8";
/* CSS Document */

body,html{
	position:relative;
}
body{
	background:#fff;
}
@font-face {
 
}

.sdlxfont {
	font-family: sdlxpr!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.header-nav {
	width: 100%;
	height: 50px;
	position: absolute;
	background: #ffffff;
	top: 0;
	z-index: 1000;
	-webkit-transition: background .35s linear,height .35s ease-in;
	transition: background .35s linear,height .35s ease-in
}

.h-m-m-faceout {
	webkit-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
	-webkit-transition: -webkit-transform .55s .25s ease-out;
	transition: -webkit-transform .55s .25s ease-out;
	transition: transform .55s .25s ease-out
}

.h-nav-100 {
	height: 100%;
	background: #ff6600;
	-webkit-transition: background .35s linear,height .35s ease-in .2s;
	-moz-transition: background .35s linear,height .35s ease-in .2s;
	transition: background .35s linear,height .35s ease-in .2s
}

.header-menu {
	width: 100%;
	height: 50px;
	background:#fff;
}

.header-menu .h-m-inner {
	width: 96%;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
	position: relative
}

.header-menu .h-m-inner center {
	width: 17rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	margin: 0 auto;
	margin-left:-16%;
}

.header-menu .h-m-inner .h-m-menu {
	width: 30px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0
}

.header-menu .h-m-inner .h-m-menu .h-m-m-b,.header-menu .h-m-inner .h-m-menu .h-m-m-c,.header-menu .h-m-inner .h-m-menu .h-m-m-t {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0)
}

.header-menu .h-m-inner .h-m-menu span>span {
	position: absolute;
	height: 1px;
	width: 26px;
	top: 22px;
	left: .6px;
	background-color: #ea5404;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-transition: -webkit-transform .6s,opacity .4s;
	-moz-transition: transform .6s,opacity .4s;
	transition: transform .6s,opacity .4s;
	transform-origin: center center;
	-moz-transform-origin: center center;
	-webkit-transform-origin: center center
}

.header-menu .h-m-inner .h-m-menu .h-m-m-t>span {
	-webkit-transform: translate3d(0,-.7em,0);
	-moz-transform: translate3d(0,-.7em,0);
	transform: translate3d(0,-.7em,0)
}

.header-menu .h-m-inner .h-m-menu .h-m-m-b>span {
	-webkit-transform: translate3d(0,.7em,0);
	-moz-transform: translate3d(0,.7em,0);
	transform: translate3d(0,.7em,0)
}

.header-menu .h-m-inner .h-m-menu .h-m-m-c>span {
	opacity: 1
}

.h-m-m-t-close {
	-webkit-transform: translate3d(0,0,0) rotate(45deg)!important;
	-moz-transform: translate3d(0,0,0) rotate(45deg)!important;
	transform: translate3d(0,0,0) rotate(45deg)!important
}

.h-m-m-c-close {
	opacity: 0!important
}

.h-m-m-b-close {
	-webkit-transform: translate3d(0,0,0) rotate(-45deg)!important;
	-moz-transform: translate3d(0,0,0) rotate(-45deg)!important;
	transform: translate3d(0,0,0) rotate(-45deg)!important
}

.header-menu .h-m-inner .h-m-menu .h-m-m-hot {
	width: 4px;
	height: 4px;
	position: absolute;
	top: 11px;
	right: 3px;
	background: #e43c3c;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 5px #e43c3c;
	-moz-box-shadow: 0 0 5px #e43c3c;
	-webkit-box-shadow: 0 0 5px #e43c3c
}

.header-menu .h-m-inner .h-m-media {
	position: absolute;
	height: 50px;
	top: 0;
	right: 0;
	-webkit-transition: transform .25s .55s ease-out;
	-moz-transition: transform .25s .55s ease-out;
	transition: transform .25s .55s ease-out
}

.header-menu .h-m-inner .h-m-media .wechat {
	margin-left: 4px
}

.header-menu .h-m-inner .h-m-media div {
	line-height: 50px;
	font-size: 26px;
	color: #fff;
	display: block;
	float: right
}

.header-nav .menu-lists {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
	overflow: hidden;
	overflow-y: auto;
}

.header-nav .menu-lists>ul {
	width: 100%;
	padding: 0 45px 2rem 45px;
}

.header-nav .menu-lists>ul>li{
	border-bottom: 1px solid #f39e30;
	position:relative;
	vertical-align: top;
	height: 4rem;
	opacity: 0;
	-webkit-transform: scale(1.1) translateY(-24px);
	-ms-transform: scale(1.1) translateY(-24px);
	transform: scale(1.1) translateY(-24px);
	-webkit-transition: opacity .35s ease-out,-webkit-transform .35s ease-out,border-bottom .8s .2s;
	-moz-transition: opacity .35s ease-out,-moz-transform .35s ease-out,border-bottom .8s .2s;
	transition: opacity .35s ease-out,transform .35s ease-out,border-bottom .8s .2s;
	transition: opacity .35s ease-out,transform .35s ease-out,border-bottom .8s .2s;
}
.header-nav .menu-lists>ul>li>span{
	position:absolute;
	display:inline;
	height:4rem;
	width:auto;
	right:1.2rem;
	top:0;
	color:#666;
	line-height:4rem;
	font-size:1.8rem;
	transition:transform .8s,color 1s;
	-webkit-transition:transform .8s,color 1s;
	-moz-transition:transform .8s,color 1s;
}
.menu-lists-show {
	opacity: 1!important;
	pointer-events: auto;
	-webkit-transform: none!important;
	-ms-transform: none!important;
	transform: none!important
}
.header-nav .menu-lists>ul>.on a{
	color:#fff !important;
}
.header-nav .menu-lists>ul> li.on{
	border-bottom: 1px solid #fff !important;
	background:none !important;
}
.header-nav .menu-lists>ul>.on span{
	color:#fff !important;
	transform-origin:center;
	-webkit-transform-origin:center;
	-moz-transform-origin:center;
	transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.header-nav .menu-lists>ul>li>a {
	display: block;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.4rem;
	color: #fff;
	font-weight: 100;
	transition:color .8s;
	-webkit-transition:color .8s;
	-moz-transition:color .8s;
}
.header-nav .menu-lists>ul>li>.brandlist{
	display:block;
	width:100%;
	height:0;
	opacity:0;
	transition:height .8s,opacity .8s;
	-webkit-transition:height .8s,opacity .8s;
	-moz-transition:height .8s,opacity .8s;
	overflow:hidden;
}
.header-nav .menu-lists>ul>li.on>.brandlist{
	height:auto;
	opacity:1;
}
.brandlist>ul{
	width:100%;
}
.brandlist>ul>li{
	width:100%;
	height:3.4rem;
	line-height:3.4rem;
	font-size:1.3rem;
	text-indent:1rem;
	border-bottom:1px solid #f39e30;
	
}
.brandlist>ul>li:nth-last-child(1){
	border:none;
}
.brandlist>ul>li>a{
	color:#ccc;
}
.header-nav .menu-lists>ul>li{
	height:auto !important;
}
.header-nav .menu-lists>ul>li.h-m-lists:nth-child(1) {
	transition-delay: 0s,0s;
	-webkit-transition-delay: 0s,0s;
	-moz-transition-delay: 0s,0s;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(2) {
	transition-delay: .2s,.2s;
	-webkit-transition-delay: .2s,.2s;
	-moz-transition-delay: .2s,.2s;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(3) {
	transition-delay: 250ms,250ms;
	-webkit-transition-delay: 250ms,250ms;
	-moz-transition-delay: 250ms,250ms;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(4) {
	transition-delay: .3s,.3s;
	-webkit-transition-delay: .3s,.3s;
	-moz-transition-delay: .3s,.3s;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(5) {
	transition-delay: 350ms,350ms;
	-webkit-transition-delay: 350ms,350ms;
	-moz-transition-delay: 350ms,350ms;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(6) {
	transition-delay: .4s,.4s;
	-webkit-transition-delay: .4s,.4s;
	-moz-transition-delay: .4s,.4s;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(7) {
	transition-delay: 450ms,450ms;
	-webkit-transition-delay: 450ms,450ms;
	-moz-transition-delay: 450ms,450ms;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(8) {
	transition-delay: .6s,.6s;
	-webkit-transition-delay: .6s,.6s;
	-moz-transition-delay: .6s,.6s;
}

.header-nav .menu-lists>ul>li.h-m-lists:nth-child(9) {
	transition-delay: 650ms,650ms;
	-moz-transition-delay: 650ms,650ms;
	-webkit-transition-delay: 650ms,650ms;
}

.header-nav .menu-lists>ul>li:nth-child(9) {
	transition-delay: 0s,0s;
	-webkit-transition-delay: 0s,0s;
	-moz-transition-delay: 0s,0s;
}

.header-nav .menu-lists>ul>li:nth-child(8) {
	transition-delay: 25ms,25ms;
	-moz-transition-delay: 25ms,25ms;
	-webkit-transition-delay: 25ms,25ms;
}

.header-nav .menu-lists>ul>li:nth-child(7) {
	transition-delay: 50ms,50ms;
	-webkit-transition-delay: 50ms,50ms;
	-moz-transition-delay: 50ms,50ms;
}

.header-nav .menu-lists>ul>li:nth-child(6) {
	transition-delay: 75ms,75ms;
	-webkit-transition-delay: 75ms,75ms;
	-moz-transition-delay: 75ms,75ms;
}

.header-nav .menu-lists>ul>li:nth-child(5) {
	transition-delay: .1s,.1s;
	-webkit-transition-delay: .1s,.1s;
	-moz-transition-delay: .1s,.1s;
}

.header-nav .menu-lists>ul>li:nth-child(4) {
	transition-delay: 125ms,125ms;
	-webkit-transition-delay: 125ms,125ms;
	-moz-transition-delay: 125ms,125ms;
}

.header-nav .menu-lists>ul>li:nth-child(3) {
	transition-delay: 150ms,150ms;
	-webkit-transition-delay: 150ms,150ms;
	-moz-transition-delay: 150ms,150ms;
}

.header-nav .menu-lists>ul>li:nth-child(2) {
	transition-delay: 175ms,175ms;
	-webkit-transition-delay: 175ms,175ms;
	-moz-transition-delay: 175ms,175ms;
}

.header-nav .menu-lists>ul>li:nth-child(1) {
	transition-delay: .2s,.2s;
	-webkit-transition-delay: .2s,.2s;
	-moz-transition-delay: .2s,.2s;
}

.no-scroll {
	overflow: hidden!important;
	height: 100%!important
}

.header-nav .menu-lists .menu-list-tel {
	height: 4.4rem!important;
	border-bottom: 1px solid #fff!important
}

.header-nav .menu-lists .menu-list-tel>a {
	display: block;
	height: 4.4rem;
	line-height: 4.4rem;
	font-size: 1.5rem;
	color: #fff;
	font-weight: 100
}

.header-nav .menu-lists .menu-list-tel>a>b {
	display: inline-block;
	height: 4.4rem;
	line-height: 4.4rem;
	font-size: 1.7rem;
	padding: 0 .3rem
}
.menushow-top{
	display:block;
	position:fixed;
	transform:translate3d(0,-50%,0);
	-moz-transform:translate3d(0,-50%,0);
	-webkit-transform:translate3d(0,-50%,0);
	bottom:18%;
	right:0;
	background:#eee;
	z-index:999;
	}
	.menushow-top>div{
		display:block;
		padding:.7rem;
		margin:0;
	}
	.menushow-top>:nth-child(1){
		background:#ff6537;
	}
	.menushow-top>:nth-child(1) span{
	color:#fff;
	}
	.menushow-top>div>span{
		display:inline;
		font-size:1.6rem;
		line-height:1;
		margin:0;
	}